<div class="section-block" style="background-color:#e8e8e8">
  <div class="container">
    <div class="row">
      <div class="col-md-6 py-5">
        <h4 class="text-uppercase font-weight-bold">OpenEBS Community</h4>
        <hr style="border-top: 2px solid #0063ff;width: 85px;margin-left:inherit;">
        <div class="py-3">
          <h5 class="font-weight-bold">Slack</h5>
          <p class="mb-0">It is a very responsive community. You will get a response 3 to 6 hours.</p>
        </div>
        <div class="py-3">
          <h5 class="font-weight-bold">Twitter</h5>
          <a href="https://twitter.com/openebs">@openebs</a>
        </div>
        <div class="pt-3">
          <h5 class="font-weight-bold">GitHub</h5>
          <p><a href="https://github.com/openebs/openebs/issues">OpenEBS on GitHub</a> is one of the best place to reach
            out to.</p>
          <p class="mb-0">Use the GitHub issue tracker for the various OpenEBS repositories to file bugs and features
            request.</p>
        </div>
      </div>
      <div class="col-md-6 py-5">
        <div class="slack-card">
          <div class="m-auto" style="box-shadow: 0 2px 4px 0 #d1d2d9;border-radius: 4px;">
            <iframe src="https://heroku-slackinn.herokuapp.com/"
              class="d-flex justify-content-center align-items-center bg-white" height="400" frameborder="0"
              style="position:relative;width:100%;border-radius: 4px;" noscroll scrolling="no"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <div class="pb-4">
        <h5 class="text-uppercase font-weight-bold">Contributing</h5>
        <p>Great!! We are always on the lookout for more OpenEBS hackers. You can get started by <a
            href="https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md" target="_blank">CONTRIBUTING.md</a>
        </p>
        <p>Firstly, if you are unsure or afraid of anything, just ask or submit the issue or pull request anyways. You
          won't be yelled at for giving your best effort. The worst that can happen is that you'll be politely asked to
          change something. We appreciate any sort of contributions and don't want a wall of rules to get in the way of
          that.</p>
      </div>
      <div class="pb-4">
        <h5 class="text-uppercase font-weight-bold">PROJECT GOVERNANCE</h5>
        <p><a href="https://github.com/openebs/openebs/blob/master/GOVERNANCE.md" target="_blank"
            rel="noopener">GOVERNANCE.md</a> describes the rules and governance of the project. It is meant to be
          followed by all the developers of the project and the OpenEBS community.</p>
        <p class="mb-0">We abide by the <a href="https://github.com/openebs/openebs/blob/master/CODE_OF_CONDUCT.md"
            target="_blank" rel="noopener">Code of Conduct</a> for all the projects maintained under the OpenEBS
          Organization.
        </p>
      </div>
      <div class="py-4">
        <img src="assets/images/cncf.png" class="img-fluid" style="width:250px">
      </div>
      <div class="pt-4">
        <h5 class="text-uppercase font-weight-bold">Commercial support</h5>
        <p class="mb-0">The company who provide products or services related to OpenEBS</p>
        <ul>
          <li><a href="https://mayadata.io" target="_blank" rel="noopener">MayaData</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
