<div class="section-block" style="background-color:#e8e8e8">
  <div class="container">
    <div class="row">
      <div class="col-md-6 py-5">
        <h2 class="text-uppercase">OpenEBS Community</h2>
        <hr>
        <div>
          <h3>Slack</h3>
          <p>It is a very responsive community. You will get a response 3 to 6 hours.</p>
        </div>
        <div>
          <h3>Twitter</h3>
          <a href="https://twitter.com/openebs">@openebs</a>
        </div>
        <div>
          <h3>GitHub</h3>
          <p><a href="https://github.com/openebs/openebs/issues">OpenEBS on GitHub</a> is one of the best place to reach
            out to.</p>
          <p>Use the GitHub issue tracker for the various OpenEBS repositories to file bugs and features request.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div style="padding-top: 100px;margin-bottom: -50px;">
          <div class="bg-white m-auto" style="width:340px; border:1px solid black">
            <iframe src="https://heroku-slackinn.herokuapp.com/"
              class="d-flex justify-content-center align-items-center bg-white" height="400" frameborder="0"
              style="position:relative;width:100%" noscroll scrolling="no"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <div>
        <h2>Contributing</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.</p>
      </div>
      <div>
        <h2>PROJECT GOVERNANCE</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.</p>
      </div>
      <img src="assets/images/cncf.png" class="img-fluid py-3" style="width:300px">
      <div>

        <h2>Commercial support</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.</p>
      </div>
    </div>
  </div>
</div>
