a {
  color: #0063FF;
}

.slack-card div {
  width: 340px;
}

@media screen and (max-width:400px) {
  .slack-card div {
    width: 300px;
  }
}

@media screen and (max-width:330px) {
  .slack-card div {
    width: 290px;
  }
}

@media screen and (min-width:768px) {}

@media screen and (min-width:992px) {}
