ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  line-height: 2;
  font-size: 14px;
  color: #fefefe;
}

.copyright-text {
  font-size: 12px;
  color: #fefefe;
}

a {
  color: #fefefe;
  text-decoration: none;
}
