.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f8f8f8;
  overflow-x: hidden;
  transition: 0.3s ease-in-out;
  padding-top: 60px;
}

.sidenav a {
  padding: 16px 8px 16px 32px;
  text-decoration: none;
  color: #23232A;
  display: block;
  transition: 0.1s;
}

.sidenav a:nth-child(1) {
  padding-top: 8px;
}

.sidenav a:hover {
  color: #23232A;
}

.sidenav .closebtn {
  position: absolute;
  top: -15px;
  right: 25px;
  font-size: 45px;
  margin-left: 50px;
}

.navbar-light .navbar-toggler {
  color: #23232A;
  border: none;
}


button:focus {
  outline: none;
}

ul li {
  font-size: 14px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
