$white: #fff;
$black: #000;

$blue-100: #edf6ff;
$blue-200: #969ec9;
$blue-300: #aecee5;
$blue-400: #62a7bd;
$blue-500: #3b4473;
$blue-600: #223288;

$orange-000: #f26d00;
$orange-100: #e36d0c;
$orange-200: #f4b683;
