h1 {
  font-size: 42px;
  text-align: left;
  position: relative;
  padding-bottom: 1rem;
  color: $heading-color;
  font-weight: 700;
}

h2 {
  color: $heading-color;
  font-size: 32px;
  font-weight: 700;
}

h4 {
  color: $heading-color;
  font-size: 22px;
  font-weight: 700;
}

p,
span,
li {
  color: $paragraph-color;
  font-size: 16px;
}

thead {
  th,
  td {
    font-size: 16px;
    text-transform: uppercase;
  }
}

tbody {
  td {
    font-size: 14px;
    color: $paragraph-color;
  }
}

header .docTitle_src-theme-DocItem- {
  font-size: 42px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  p,
  span,
  li,
  a {
    font-size: 14px;
  }
  thead {
    th,
    td {
      font-size: 12px;
    }
  }
}
