<div class="container">
  <div class="row">
    <div class="col-md-5 py-5 py-md-4 py-xl-5">
      <h1 class="font-weight-bold pb-3">Oops !</h1>
      <h3 class="font-weight-semibold">Something went wrong</h3>
      <p class="font-weight-semibold">Error code : 404</p>
      <p>We can't seem to find the page you're looking for. Please check the URL to make sure the path is correct.</p>
      <a href="/">
        <button class="btn btn-primary text-uppercase" style="font-size:14px">Back to home</button>
      </a>
    </div>
    <div class="col-md-7 d-flex justify-content-center align-items-center">
      <img src="assets/images/not-found.png" class="img-fluid">
    </div>
  </div>
</div>
<div style="background-color: #EFEFF2;" class="section-block">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12 text-center">
        <div>
          <a href="https://cncf.io" target="_blank" rel="noopener">
            <img src="assets/images/cncf.png" class="img-fluid">
          </a>
          <p class="pt-3 m-0">We are a Cloud Native Computing Foundation sandbox project.</p>
        </div>
      </div>
    </div>
  </div>
</div>
