<div class="container">
  <div class="row">
    <div class="col-md-5 py-5 py-md-4 py-xl-5">
      <h1 class="font-weight-bold pb-3">Oops !</h1>
      <h3 class="font-weight-semibold">Something went wrong</h3>
      <p class="font-weight-semibold">Error code : 404</p>
      <p>We can't seem to find the page you're looking for. Please check the URL to make sure the path is correct.</p>
      <a href="/website">
        <button class="btn btn-primary text-uppercase" style="font-size:14px">Back to home</button>
      </a>
    </div>
    <div class="col-md-7 d-flex justify-content-center align-items-center">
      <img src="assets/images/not-found.png" class="img-fluid">
    </div>
  </div>
</div>
