<div class="container">
  <div class="row">
    <div class="col-md-5 py-5">
      <h2>Oops !</h2>
      <h3>Something went wrong</h3>
      <p>Error code : 404</p>
      <p>We can't seem to find the page you're looking for. Please check the URL to make sure the path is correct.</p>
      <a href="/">
        <button class="btn btn-primary text-uppercase">Back to home</button>
      </a>
    </div>
    <div class="col-md-7">
      <img src="assets/images/not-found.png" class="img-fluid">
    </div>
  </div>
</div>
<div class="section-block" style="background-color:#e8e8e8">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <a href="https://cncf.io" target="_blank" rel="noopener">
            <img src="assets/images/cncf.png" class="img-fluid text-center pb-3">
          </a>
          <p class="text-center">We are a Cloud Native Computing Foundation sandbox project.</p>
        </div>
      </div>
    </div>
  </div>
</div>
