<div class="section-block slack" style="background: linear-gradient(-135deg, #8ab1ff, #0063FF); color:#fefefe">
  <div class="container">
    <div class="row py-5 py-md-0">
      <div class="col-md-12 pt-0 pb-3 py-md-5">
        <h4 class="text-uppercase font-weight-bold">Commercial Support</h4>
        <hr style="border-top: 2px solid #fefefe;width: 85px;margin-left:inherit;">
        <div class="py-3">
          <p class="mb-0">Below is a list of companies that offer commerical support and enterprise offerings for OpenEBS:</p>
        </div>
        <div class="pt-4">
          <img src="assets/images/mayadata-logo.svg" class="pb-4" style="width:25%; margin-right:15px">
          <p class="mb-0">MayaData offers a distribution of OpenEBS Container Attached Storage and software to simplify the deployment and management of stateful applications on any kubernetes. MayaData is the original creator of OpenEBS and provides support and enterprise products.</p>
        </div>
        <div class="py-3">
          <a href="https://mayadata.io/products"><h5 class="font-weight-bold">Learn more ></h5></a>
        </div>
      </div>
    </div>
  </div>
</div>