.asciinema-terminal {
  height: 340px !important;
  width: 80vw !important;
  border-radius: 5px !important;
}

.control-bar {
  display: none !important;
}

.asciinema-terminal.font-small {
  font-size: 11px;
}

.asciinema-theme-asciinema .asciinema-terminal {
  color: #073D47;                    /* default text color */
  background-color: #FEFBFB;         /* terminal background color */
  border-color: #FEFBFB;
}

.asciinema-theme-asciinema .fg-bg {
  color: #fff;
}

.asciinema-theme-asciinema .bg-fg {    /* inverse for terminal background color */
  background-color: #073D47;
}
@media screen and (max-width: 600px) {
  .asciinema-terminal {
    height: 150px !important;
    width: 290px !important;
    overflow-x: none;
  }
  .asciinema-terminal.font-small {
    font-size: 6px;
  }
}

@media screen and (min-width: 600px) {
  .asciinema-terminal {
    height: 210px !important;
    width: 480px !important;
    overflow-x: none;
  }
}

@media screen and (min-width: 1280px) {
  .asciinema-terminal {
    width: 600px !important;
    height: 210px !important;
  }
}

