$white: #ffffff;
$black: #000000;
$light-black: rgba(0, 0, 0, 0.5);
$transparent: transparent;

$blue-100: #edf6ff;
$blue-200: #969ec9;
$blue-300: #aecee5;
$blue-400: #62a7bd;
$blue-500: #3b4473;
$blue-600: #223288;
$blue-700: #737daf;
$blue-800: #b8ddfe;

$orange-000: #f26d00;
$orange-100: #e36d0c;
$orange-200: #f4b683;
$orange-300: #a4451b;

$brown-000: #2a140b;
$highlight-bg: #484d5b;

$ifm-link-hover-color: $orange-000;
$ifm-color-primary: $orange-000;
$ifm-color-primary-dark: #21af90;
$ifm-color-primary-darker: #1fa588;
$ifm-color-primary-darkest: #1a8870;
$ifm-color-primary-light: #46cbae;
$ifm-color-primary-lighter: #66d4bd;
$ifm-color-primary-lightest: #92e0d0;
$ifm-menu-color: $blue-500;
$ifm-menu-color-background-active: $transparent;
$ifm-menu-color-active: $blue-500;
$ifm-navbar-search-input-color: #737daf;
$ifm-footer-link-color: $blue-500;
$ifm-background-surface-color: #edf6ff;
$ifm-color-danger: rgba(251, 116, 120, 0.3);
$ifm-color-success: rgba(77, 191, 77, 0.3);
$ifm-color-info: rgba(135, 215, 242, 0.3);
$ifm-color-warning: rgba(255, 208, 77, 0.3);
$collapse-button-bg-color-dark: #2e333a;
$ifm-alert-color: $blue-500;
$ifm-code-background: $blue-100;
