h1 {
  font-size: 24px;
  text-align: left;
  position: relative;
  padding-bottom: 1rem;
  color: $heading-color;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  color: $heading-color;
  font-weight: 700;
}

h3 {
  color: $heading-color;
  font-weight: 700;
  font-size: 18px;
}
h4 {
  color: $heading-color;
  font-weight: 700;
  font-size: 16px;
}

header > h1 {
  font-size: 28px;
}

p,
span,
li {
  color: $paragraph-color;
}

.prism-code * {
  color: inherit;
}

a {
  font-size: 16px;
}

thead {
  th,
  td {
    font-size: 12px;
    text-transform: uppercase;
  }
}

tbody {
  td {
    font-size: 14px;
    color: $paragraph-color;
  }
}

.markdown p a + a {
  margin-left: 1rem;
}

@media (min-width: $breakpoint-lg) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 22px;
  }
  header > h1 {
    font-size: 40px;
  }
  p,
  span,
  li {
    font-size: 16px;
  }

  thead {
    th,
    td {
      font-size: 16px;
    }
  }
  .markdown p a + a {
    margin-left: 0.6rem;
  }
}

@media (min-width: $breakpoint-xl) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 38px;
  }
  h4 {
    font-size: 22px;
  }
  header > h1 {
    font-size: 46px;
  }
}
