.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

.docSearch {
  margin-bottom: 1rem;
}

.docSearch :global(.navbar__search) {
  width: 100%;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }

  .docSearch {
    max-width: 28rem;
  }
}
