.dropDownWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select {
  border-radius: 4px;
  padding: 6px 4px;
  border-radius: 6px;
  background-color: var(--color-tealish-blue);
  border-color: var(--color-white);
  color: var(--color-white);
}

.dropdown {
  width: auto;
  padding-left: 0;
}
