.navItem {
  list-style-type: none;
  padding-left: 16px;
  padding-right: 16px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  display: flex;
}

.navItem:last-child {
  padding-right: 0px;
}

.navLink {
  color: var(--ifm-menu-color);
  text-decoration: none;
}

.navLink:hover {
  text-decoration: none;
}

.headerOuterWrapper {
  position: relative;
  z-index: 1000;
  margin-bottom: 65px;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-light-blue);
}

.headerInnerWrapper {
  position: fixed;
  background-color: var(--color-white);
  width: 100%;
  border-bottom: 1px solid var(--color-light-blue);
}

.header {
  display: grid;
  grid-template-columns: 278px 1fr;
  grid-auto-rows: auto;
  margin: auto;
  width: 100%;
  padding: 16px 20px;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoWrapperSmallView {
  display: flex;
}

.buttonWrapper {
  padding-left: 20px;
  margin-top: 8px;
}

.navLinksWrapper {
  display: flex;
}

.navLinks {
  display: flex;
  margin: auto;
  align-items: flex-end;
  margin: auto 0 auto auto;
}

.navLinksMob {
  width: 100%;
  position: absolute;
}

.navItemUnderline {
  border-bottom: 2px solid var(--color-light-blue);
  max-width: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 1rem;
}

.socials {
  margin: 0px 8px;
  display: flex;
}

.socialsMob {
  padding-top: 32px;
}

.menuIcon,
.xCircleIcon {
  cursor: pointer;
}

.mobileNavWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.navItemMob {
  position: fixed;
  height: 100%;
  background-color: var(--color-lighter-blue);
  background-image: url("/static/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  right: 0;
  width: 75%;
  max-width: 480px;
  margin-top: -38px;
}

.navItemListMob {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.crossIconWrapper {
  position: absolute;
  top: 30px;
  right: 40px;
}

@media (min-width: 767px) {
  .header {
    padding: 16px 40px;
  }
}

@media (min-width: 1280px) {
  .header {
    padding: 16px 80px;
  }
}
