<div class="bg-primary section-block" [style.background-image]="'url(' + ImageURL +')'" style="background-repeat:no-repeat;
background-size:cover; background-clip:padding-box">
  <div class="container py-5 px-lg-5">
    <div class="row px-lg-5">
      <div class="col-md-12 text-left px-lg-5 py-3">
        <div style="padding-bottom:50px">
          <h3 class="text-left text-white">Leading Open Source </h3>
          <h2 class="text-left text-white heading font-weight-bold">Container Attached Storage (CAS)</h2>
        </div>
        <div>
          <ul class="text-white">
            <li><img src="assets/images/thumb.png" class="py-2" style="width:26px; margin-right:15px">100% Open Source
            </li>
            <li><img src="assets/images/container.png" class="py-2" style="width:26px;margin-right:15px">Container
              Native
              Architecture</li>
            <li class="d-flex justify-content-start align-items-center"><img src="assets/images/k8s.png" class="py-2"
                style="width: 26px;height: 44px;margin-right:15px">
              <div><span>Stateful
                  Applications/Workloads on Kubernetes simplified</span></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div style="height:75px" class="d-flex">
          <p class="text-white my-auto" style="font-family:monospace">$ <span>{{ typewriter_display }}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="font-weight-bold pb-4 text-center openebs-h2">Stateful Applications / Workloads</h2>
      </div>
      <div class="col-md-12 pt-2 pt-md-4">
        <div class="row workload" *ngIf="workloads">
          <div class="col-4 col-sm-3 col-md-2" *ngFor="let workload of workloads">
            <a href={{workload.url}} target="_blank" rel="noopener">
              <img src={{workload.src}} alt={{workload.alt}} title={{workload.title}} class="img-fluid">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="font-weight-bold text-center openebs-h2">The features and benefits that you need</h2>
      </div>
    </div>
  </div>
  <div class="container pt-0 pt-md-4">
    <div class="row">
      <div class="col-sm-6 col-md-4 feature" *ngFor="let feature of openebs_features">
        <img src={{feature.image_url}} alt={{feature.image_url}} class="img-fuild p-1" style="height:auto; width:65px">
        <h5 class="font-weight-bold" style="font-size:18px;">{{ feature.title}}</h5>
        <p class="pt-3">{{ feature.description }}</p>
      </div>
    </div>
  </div>
</div>
<div class="section-block slack" style="background: linear-gradient(-135deg, #8ab1ff, #0063FF); color:#fefefe">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pt-0 pb-3 py-md-5">
        <h4 class="text-uppercase font-weight-bold">OpenEBS Community</h4>
        <hr style="border-top: 2px solid #fefefe;width: 85px;margin-left:inherit;">
        <div class="py-3">
          <h5 class="font-weight-bold">Slack</h5>
          <p class="mb-0">It is a very responsive community. You will get a response within 3 to 6 hours.</p>
        </div>
        <div class="py-3">
          <h5 class="font-weight-bold">Twitter</h5>
          <a href="https://twitter.com/openebs">@openebs</a>
        </div>
        <div class="pt-3">
          <h5 class="font-weight-bold">GitHub</h5>
          <p><a href="https://github.com/openebs/openebs/issues">OpenEBS on GitHub</a> is one of the best place to reach
            out to.</p>
          <p class="mb-0">Use the GitHub issue tracker for the various OpenEBS repositories to file bugs and features
            request.</p>
        </div>
      </div>
      <div class="col-md-6 pt-3 pb-0 py-md-5 d-flex justify-content-center align-items-center">
        <div class="slack-card">
          <div class="m-auto" style="box-shadow: 0 2px 4px 0 #d1d2d9;border-radius: 4px;">
            <iframe src="https://heroku-slackinn.herokuapp.com/"
              class="d-flex justify-content-center align-items-center bg-white" height="400" frameborder="0"
              style="position:relative;width:100%;border-radius: 4px;" noscroll scrolling="no"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div style="background-color: #EFEFF2;" class="section-block">
  <div class="container py-3">
    <div class="row">
      <div class="col-md-12 text-center">
        <div>
          <a href="https://cncf.io" target="_blank" rel="noopener">
            <img src="assets/images/cncf.png" class="img-fluid">
          </a>
          <p class="pt-3 m-0">We are a Cloud Native Computing Foundation sandbox project.</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
