ul {
  list-style-type: none;
  padding-left: 0;
}

.section-block {
  padding-top: 40px;
  padding-bottom: 40px;
}


.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(16.67%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-16.67%);
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);

}

.carousel-item {
  height: 100px;
}

.workload {
  padding-left: 100px;
  padding-right: 100px
}

.workload div {
  height: 100px;
}

.workload img,
.workload__list_ss img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  height: 90px;
}

.workload img:hover,
.workload__list_ss img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.platform img {
  display: flex;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.platform img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.carousel-control-next,
.carousel-control-prev {
  width: 25%;
}

.heading {
  font-size: 40px;
}

.feature {
  padding-right: 45px;
  padding-top: 35px;
}

.slack-card div {
  width: 340px;
}


/* Mobile */
@media screen and (max-width:575.9998px) {
  .desktop {
    display: none;
  }

  .tablet {
    display: none;
  }

  .mobile {
    display: block;
  }

  .workload__list_ss img {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 70px;
    margin: auto;
  }

  .heading {
    font-size: 28px;
  }

  .openebs-h2 {
    font-size: 28px;
  }

  .workload {
    padding-left: 15px;
    padding-right: 15px
  }

  .feature {
    padding-right: 15px;
    padding-top: 15px;
  }
}

@media screen and (max-width:480px) {}

@media screen and (max-width:400px) {
  .slack-card div {
    width: 300px;
  }
}

@media screen and (max-width:330px) {
  .slack-card div {
    width: 290px;
  }
}

/* Tablet */
@media screen and (min-width:576px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: none;
  }

  .tablet {
    display: block;
  }

  .workload {
    padding-left: 10px;
    padding-right: 10px
  }

  .workload__list_ss img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .workload div,
  .workload__list_ss div {
    height: 100px;
  }

  .workload__list_ss img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 70px;
    margin: auto;
  }

  .workload img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 70px;
  }

  .heading {
    font-size: 32px;
  }

  .openebs-h2 {
    font-size: 32px;
  }
}

@media screen and (min-width:768px) {}

@media screen and (min-width:992px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .tablet {
    display: none;
  }

  .workload {
    padding-left: 100px;
    padding-right: 100px
  }

  .workload div {
    height: 100px;
  }

  .workload img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 90px;
  }

  .openebs-h2 {
    font-size: 32px;
  }

  .heading {
    font-size: 32px;
  }
}

/* Desktop*/

@media screen and (min-width:1200px) {
  .openebs-h2 {
    font-size: 34px;
  }

  .heading {
    font-size: 40px;
  }
}
