.asciinema-terminal {
  height: 320px !important;
  width: 80vw !important;
  border-radius: 5px !important;
}

.control-bar {
  display: none !important;
}

@media screen and (max-width: 639px) {
  .asciinema-terminal {
    height: 320px !important;
    width: 80vw !important;
    overflow-x: none;
  }
}

@media screen and (min-width: 640px) {
  .asciinema-terminal {
    height: 320px !important;
    width: 80vw !important;
    overflow-x: none;
  }
}

@media screen and (min-width: 896px) {
  .asciinema-terminal {
    height: 320px !important;
    width: 45vw !important;
  }
}

@media screen and (min-width: 1024px) {
  .asciinema-terminal {
    height: 320px !important;
    width: 45vw !important;
  }
}

@media screen and (min-width: 1240px) {
  .asciinema-terminal {
    height: 285px !important;
    width: 600px !important;
  }
}
