.wrapper {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  text-align: center;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 150px;
  width: 100%;
}

.feedbackResponseHidden {
  visibility: hidden;
  display: none;
}

.feedbackResponseVisible {
  visibility: visible;
  display: block;
  padding-top: 16px;
}

@media (min-width: 980px) {
  .wrapper {
    max-width: 75%;
  }
}
