name: Updates OpenEBS Contributor list

on:
  schedule:
    - cron: '*/15 * * * *'

  push:
    branches: [ revamp-3.0 ]
    paths: '**/topContributors.json'
  pull_request:
    branches: [ revamp-3.0 ]

  workflow_dispatch: 

jobs:
  resources:
    name: Update resources
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: revamp-3.0
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '15.x'
      - name: install dep
        run: npm install request
      - name: Get contributors
        working-directory: ./website
        run: npm run getTopContributors
      - name: Commit the changes
        run: |
         git status
         git config user.name rakesh
         git config user.email rakesh.pr@mayadata.io
         git add '*/topContributors.json,*/newContributors.json'
         git log
         git diff-index --quiet HEAD || (git commit -a -m'[bot] update contributor list' --allow-empty && git push -f)
